<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="default.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" prefixLanguageFilePath="" path="/default.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
          <rules>
            <rule name="Rewrite binaries to CD webservice">
              <match url="^Images/(.*)_tcm([0-9]+)-([0-9]+).(.*)" />
              <action type="Redirect" url="http://azeroth.local:83/odata.svc/BinaryContents(BinaryId={R:3},PublicationId={R:2},VariantId='WyNkZWYjXQ==')/$value" redirectType="Permanent" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="http://triangular.local/default.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
